<!DOCTYPE html>
<html lang="ja" xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container" style="background-color: #eee">

		<p>HeaderAndFooterPage.html</p>

		<div class="row">
			<div class="span12">
				<p wicket:id="headerLabel">heder message</p>
			</div>
		</div>

		<wicket:child />

		<div class="row">
			<div class="span12">
				<p wicket:id="fotterLabel">fotter message</p>
			</div>
		</div>

	</div>

</body>
</html>