<!DOCTYPE html>
<html
	lang="ja"
	xmlns:wicket="http://wicket.apache.org"
>
<head>
<meta charset="UTF-8" />
</head>
<body>
	<wicket:extend>
		<!-- wicket:extend 要素の中身が、スーパークラスのHTMLのwicket:child要素の中身として反映される -->
		<div>
			<div class="row">
				<div class="span3" style="background-color: #eea">
						<p>MenuPage.html</p>
						<p>メニュー部分です</p>
						<ul>
							<li><a wicket:id="toContent01Page">リンク1</a></li>
							<li><a wicket:id="toContent02Page">リンク2</a></li>
						</ul>
					</div>
				<div class="span9">
					<wicket:child />
				</div>
			</div>
		</div>

	</wicket:extend>
</body>
</html>